{% extends "client/layout_client.html" %}
{% block body %}
   <h5>choix "déclinaison" d'articles</h5>

    <div class="container">
        <div class="row align-self-right">
        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1">
                                <a href="/client/article/details?id_article={{ article.id_article }}" >
                                <h2 class="card-title">
                                    <span style="color: #0b2e13">{{ article.nom }}</span><br>
                                    {{ article.prix }} €
                                </h2>
                                     {%  if article.image is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/')}}{{ article.image }}"  alt="image  de {{ article.nom }}" >
                                    {% else %}
                                        <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ article.nom }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                            </div>
        </div>

            <ul>
                {% for item_declinaison in declinaisons  %}
                    <li class="mb-4">
                        - taille : <strong style="color: #0b5ed7; font-size: 1.2rem;">
                            {% if item_declinaison.libelle_taille %}
                                {{ item_declinaison.libelle_taille }}
                            {% else %}
                                {{ item_declinaison.nom_taille }}
                            {% endif %}
                        </strong>
                        couleur : <strong style="color: #0b5ed7; font-size: 1.2rem;">
                            {{ item_declinaison.nom_couleur }}
                        </strong>
                        <br>

                    {% if item_declinaison.stock is defined and item_declinaison.stock != None %}
                        {% if item_declinaison.stock > 0 %}
                            <form action="/client/panier/add" method="post" class="col-6 mt-2">
                                 <input type="hidden" name="id_article" value="{{ article.id_article }}">
                                 <input type="hidden" name="id_declinaison_article" value="{% if item_declinaison.id_declinaison_article %}{{ item_declinaison.id_declinaison_article }}{% else %}{{ item_declinaison.id_declinaison }}{% endif %}">

                                 <small class="text-muted">Stock restant : {{ item_declinaison.stock }}</small>
                                 <div class="input-group mt-1">
                                    <button class="btn btn-success" type="submit">
                                        <i class="fas fa-shopping-cart"></i> Ajouter
                                    </button>
                                    <input type="number" step="1" min="1" max="{{ item_declinaison.stock }}" class="form-control" value="1" name="quantite">
                                 </div>
                            </form>
                       {% else %}
                             <small class="text-muted text-danger">Article momentanément indisponible</small>
                        {% endif %}
                    {% endif %}
                    </li>
                    <hr class="col-5">
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}